/* ========== GLOBAL && VARIABLES ========== */
:root {
  font-size: 62.5%;

  --primary: hsl(41, 100%, 47%);
  --secondary: hsl(28, 100%, 44%);
  --tertiary: hsl(231, 28%, 5%);
  --quaternary: hsl(227, 23%, 8%);
  --extra: hsl(225, 31%, 74%);

  --btn-hover: hsla(28, 100%, 44%, 0.15);

  --font-primary: hsl(225, 67%, 88%);
  --font-secondary: hsl(205, 13%, 67%);
}

@font-face {
  font-family: Ubuntu;
  src: local(Ubuntu), url(./font/Ubuntu-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Ubuntu;
  src: local(Ubuntu), url(./font/Ubuntu-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Ubuntu;
  src: local(Ubuntu), url(./font/Ubuntu-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--tertiary);
  font-size: 1.6rem;
}

body * {
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: min(76.8rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

p {
  font-weight: 400;
  color: var(--font-secondary);
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--font-primary);
}

h1 {
  font-size: clamp(4.8rem, 7vw, 6.4rem);
  color: var(--font-primary);
}

h2 {
  font-size: 3.2rem;
  color: var(--font-primary);
}

h3 {
  font-size: 2.4rem;
  color: var(--font-primary);
}

span {
  color: var(--primary);
  font-size: 1.4rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

section {
  padding-block: 8rem;
}

svg {
  color: var(--color-extra);
}

button {
  cursor: pointer;
  outline: none;
}

.linkBtn {
  display: flex;

  padding: 0.8rem 1.6rem;
  border: 0.2rem solid var(--primary);
  border-radius: 0.4rem;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  outline: none;

  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--font-primary);
}

.linkBtn:is(:hover, :focus) {
  background-color: var(--btn-hover);
}

.section__title h2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding-bottom: 1.6rem;
}
.section__title h2::before {
  content: "";
  width: min(30rem, 100%);
  height: 0.1rem;
  margin-right: 2rem;
  background-color: var(--extra);
}
.section__title h2::after {
  content: "";
  width: min(30rem, 100%);
  height: 0.1rem;
  margin-left: 2rem;
  background-color: var(--extra);
}

.underline {
  position: relative;
  padding-block: 0.5rem;

  text-transform: initial;
  color: var(--primary);
}
.underline:after {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  width: 0;
  display: block;

  height: 0.1rem;
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 1.2rem;
}
::-webkit-scrollbar-track {
  background: transparent;
  margin-block: 0.4rem;
}
::-webkit-scrollbar-thumb {
  background: #1b1f28;
  border-radius: 1.2rem;
}

::selection {
  background-color: hsl(28, 100%, 35%);
  color: var(--tertiary);
}

/* =========================================================================== */
/* =================================== NAV =================================== */
/* =========================================================================== */

nav {
  position: fixed;
  z-index: 2;
  display: flex;

  width: 100%;
  height: 7rem;
  background-color: var(--tertiary);
  opacity: 0.95;
  transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: min(192rem, 100%);
  padding-inline: 2.4rem;
}

.nav__logo {
  width: 7.2rem;
}

.nav__logo a {
  font-size: 3.2rem;
}
.nav__logo a span {
  font-size: 3.2rem;
  color: var(--primary);
}

#navigation > ul {
  position: absolute;
  z-index: 1;
  top: 7rem;
  left: 0;
  display: block;

  width: 100%;
  height: 0;
  text-align: center;
  visibility: hidden;
  overflow-y: hidden;
  transition: 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#navigation.active > ul {
  height: auto;
  padding-bottom: 1.6rem;
  visibility: visible;
  background-color: var(--tertiary);
  border-bottom: 0.1rem solid var(--quaternary);
}

#navigation ul li {
  text-align: left;
  padding: 0.5rem 2rem;
  margin-inline: auto;
}
#navigation ul li:nth-of-type(6) {
  margin-top: 0.6rem;
}

#navigation ul li a {
  display: block;
  padding: 0.8rem;
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  font-size: 1.8rem;
  font-weight: 400;
  text-transform: initial;
}
#navigation ul li a.active {
  color: var(--primary);
}

#navigation button {
  display: flex;

  padding: 0.8rem 1.6rem;
  border: none;
  background: none;
}

#hamburger {
  width: 2.5rem;
  border-top: 0.2rem solid var(--extra);
}

#hamburger::after,
#hamburger::before {
  content: "";
  display: block;
  width: 2.5rem;
  height: 0.2rem;
  background: var(--extra);
  margin-top: 0.5rem;
  transition: 0.3s;
  position: relative;
}

#navigation.active #hamburger {
  border-top-color: transparent;
}

#navigation.active #hamburger::before {
  transform: rotate(135deg);
  background: var(--primary);
}

#navigation.active #hamburger::after {
  transform: rotate(-135deg);
  top: -0.7rem;
  background: var(--primary);
}

#dropA {
  position: relative;
}

#dropA svg {
  position: absolute;
  z-index: -1;
  top: 1.1rem;

  margin-left: 0.5rem;
  transform: rotateX(0);
  transition: transform 0.3s;
}

#dropA.active svg {
  transform: rotateX(-180deg);
  color: var(--primary);
}

#dropUl {
  height: 0;
  content-visibility: hidden;
  overflow-y: hidden;
  transition: 0.5s ease-in-out;
}

#dropUl.active {
  height: 8.4rem;
  content-visibility: visible;
}

#dropUl a {
  padding-block: 0.4rem !important;
}

#dropUl a.active {
  color: var(--primary);
}

#navigation .nav__cv .linkBtn {
  position: relative;
  left: 1rem;
  display: inline-block;

  padding: 0.6rem 3.2rem;
  text-transform: uppercase;
}

nav .container > .nav__cv {
  display: none;
}

/* ============================================================================== */
/* =================================== HEADER =================================== */
/* ============================================================================== */

header {
  position: relative;

  width: 100%;
  height: 65.6rem;
}

#particles-js {
  position: absolute;
  inset: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
  background-color: var(--tertiary);
  opacity: 0.4;
  pointer-events: none;
}

.banner {
  position: relative;
  z-index: 1;

  padding-top: 16rem;
  text-align: center;
}

.banner .fadeIn {
  animation: fadeIn 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(1.6rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.banner h1 {
  margin-bottom: 2.4rem;

  font-weight: 400;
  line-height: 0.95;
}

.banner p {
  max-width: 48rem;
  margin-inline: auto;
  margin-bottom: 3.2rem;

  font-size: 2.4rem;
}

.banner a {
  display: inline-block;
  width: 16.8rem;
  padding-block: 1.2rem;

  border-radius: 0.4rem;
  background-color: var(--primary);
  transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--tertiary);
}

.banner a:hover {
  background-color: #bc8100;
}

.mouse-animation {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;

  height: 4rem;
  width: 2rem;
  margin-inline: auto;
  border: 0.2rem solid var(--font-secondary);
  border-radius: 1.5rem;
  transition: 0.2s;
  transform: translateX(-50%);
}

.mouse-animation a {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}

.mouse-animation .dot {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--primary);
  animation: scrollDown 1.5s infinite;
}

@keyframes scrollDown {
  from {
    transform: translate3d(0, -1rem, 0);
  }
  to {
    transform: translate3d(0, 0.7rem, 0);
    opacity: 0;
  }
}

.social {
  display: none;
}

/* ============================================================================= */
/* =================================== ABOUT =================================== */
/* ============================================================================= */

#about {
  padding-top: 16rem;
}

.about__box {
  display: grid;
  gap: 4rem;
}

.about__img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img img {
  width: 90%;
  height: 90%;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  object-fit: cover;
  filter: grayscale(50%);
  transition: 0.3s;
}
.about__img img:hover {
  filter: grayscale(0%);
}

.about__img .border__top {
  position: absolute;
  z-index: -1;
  top: -0.3rem;
  right: -0.3rem;
  display: block;

  width: 20rem;
  height: 10rem;
  border-top: 0.6rem solid var(--primary);
  border-right: 0.6rem solid var(--primary);
  transition: 0.3s ease-in;
}
.about__img:hover .border__top {
  transform: translate3d(-0.4rem, 0.4rem, 0);
}

.about__img .border__bottom {
  position: absolute;
  z-index: -1;
  bottom: -0.3rem;
  left: -0.3rem;
  display: block;

  width: 20rem;
  height: 10rem;
  border-bottom: 0.6rem solid var(--primary);
  border-left: 0.6rem solid var(--primary);
  transition: 0.3s ease-in;
}
.about__img:hover .border__bottom {
  transform: translate3d(0.4rem, -0.4rem, 0);
}

.about__txt h2 {
  display: flex;
  align-items: center;

  white-space: nowrap;
  padding-bottom: 1.6rem;
}

.about__txt h2::after {
  content: "";
  width: min(25rem, 100%);
  height: 0.1rem;
  margin-left: 2rem;
  background-color: var(--extra);
}

.about__txt p {
  display: inline-block;
  margin-block: 1rem;

  font-size: 1.8rem;
}

.about__txt .underline {
  text-transform: uppercase;
}

.about__txt p a:hover::after {
  animation: line 0.3s linear forwards;
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 2.5rem;
  }
}

.about__txt__skills {
  margin-top: 4rem;
}

.about__txt__skills h3 {
  margin-bottom: 2.4rem;

  text-transform: uppercase;
  color: var(--primary);
}

.about__txt__skills ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
}

.about__txt__skills li {
  display: grid;
  grid-template-columns: 2rem 1fr;
  gap: 0.4rem;
}

.about__txt__skills svg {
  color: var(--primary);
}

.about__txt__skills p {
  margin-block: initial;
}

/* =================================================================================== */
/* =================================== EXPERIENCES =================================== */
/* =================================================================================== */

.experiences__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3.2rem;

  padding-block: 10rem;
}

.experiences__box p {
  font-size: 1.8rem;
  line-height: 1.2;
}

.experiences__box img {
  width: min(40rem, 100%);
}

.experiences__box p a:hover::after {
  animation: lineTwo 0.3s linear forwards;
}

@keyframes lineTwo {
  0% {
    width: 0;
  }
  100% {
    width: 9.7rem;
  }
}

/* ================================================================================ */
/* =================================== PROJECTS =================================== */
/* ================================================================================ */

#projects p {
  margin-block: 4rem;
  text-align: center;
  font-size: 1.8rem;
}

#projects p a:hover::after {
  animation: lineThree 0.3s linear forwards;
}

@keyframes lineThree {
  0% {
    width: 0;
  }
  100% {
    width: 6.1rem;
  }
}

.project__filter {
  display: none;
}

.project__box {
  display: flex;
  gap: 2.4rem;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding-block: 4rem;
  margin-bottom: 3.2rem;
}

.project__box::-webkit-scrollbar {
  height: 0.6rem;
}
.project__box::-webkit-scrollbar-track {
  background-color: var(--quaternary);
  border-radius: 0.4rem;
}
.project__box::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 0.4rem;
}

.project__single {
  flex: 0 0 100%;
  scroll-snap-align: start;
  background-color: var(--quaternary);
  padding: 2.4rem;
  border-radius: 0.4rem;
  transition: 0.3s ease-in;
}

.project__image {
  overflow: hidden;
  margin-bottom: 1.6rem;
  border-radius: 0.4rem;
}

.project__image img {
  width: 100%;
  transform: scale(1.2);
}

.project__header {
  display: grid;
  grid-template-columns: 1fr 7.8rem;
  align-items: center;
  gap: 0.5rem;
}

.project__header h3 {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "Roboto Mono", monospace;
  color: var(--primary);
}

.project__header a {
  padding: 0.6rem;
}
.project__header a:hover svg {
  color: var(--primary);
}

.project__header div:nth-of-type(2) {
  display: flex;
  justify-content: center;
}

.project__description {
  margin-top: 0.8rem;
}

.project__description span {
  font-size: 1.6rem;
  color: var(--font-secondary);
}

/* =============================================================================== */
/* =================================== CONTACT =================================== */
/* =============================================================================== */

.contact__box {
  margin-block: 9rem 3rem;
  text-align: center;
}

.contact__box h3 {
  font-weight: 400;
  color: var(--font-secondary);
}

.contact__box span {
  font-size: 2.4rem;
  letter-spacing: -0.1rem;
}

.contact__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-top: 4rem;
}

.contact__links a {
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 16.4rem;
  padding: 1.2rem 2rem;

  font-size: 1.8rem;
  text-transform: initial;
}

.contact__links a:first-of-type svg {
  position: relative;
  top: -0.2rem;
}

/* ============================================================================== */
/* =================================== FOOTER =================================== */
/* ============================================================================== */

footer .container {
  padding-block: 3rem;
  text-align: center;
}

footer p {
  font-weight: 400;
}

footer span {
  font-size: 1.6rem;
  position: relative;
  top: -0.1rem;
}

/* ================================================================================== */
/* =================================== RESPONSIVE =================================== */
/* ================================================================================== */

@media (min-width: 426px) {
  /* ========== ABOUT ========== */
  .about__img {
    height: 60rem;
  }

  .painel__display {
    justify-content: left;
    flex-wrap: nowrap;
  }
}

@media (min-width: 520px) {
  /* ========== PROJECT ========== */

  .project__filter {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .project__trigger {
    display: inline-block;
    width: 16.8rem;
    padding-block: 1.2rem;

    border: none;
    border-radius: 0.4rem;
    background-color: transparent;
    transition: all 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--font-secondary);
  }
  .project__trigger.active {
    background-color: var(--primary);
    color: var(--tertiary) !important;
  }
  .project__trigger:hover {
    color: var(--primary);
  }

  .project__box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    overflow-x: initial;
  }

  .project__single {
    margin-top: 1.6rem;
    scroll-snap-align: initial;
    transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
  .project__single.hide {
    display: none;
  }
}

@media (min-width: 608px) {
  /* ========== ABOUT ========== */
  .about__box {
    margin-inline: 5rem;
  }
}

@media (min-width: 769px) {
  .container {
    width: min(120rem, 100%);
    padding-inline: 8rem;
  }

  /* ========== NAV ========== */
  nav * {
    visibility: initial;
    overflow-y: initial;
  }
  nav {
    height: 7rem;
    background-color: rgba(9, 10, 16, 0.75);
    backdrop-filter: saturate(180%) blur(15px);
    backface-visibility: hidden;
  }

  #navigation {
    display: flex;
    align-items: center;
  }

  #navigation button {
    display: none;
  }

  #navigation ul {
    position: initial;
    display: flex;
    align-items: center;
    height: initial;
  }

  #navigation.active > ul {
    background-color: transparent;
    border-bottom: none;
  }

  #navigation ul li:nth-of-type(5),
  #navigation ul li:nth-of-type(6) {
    display: none;
  }
  #navigation ul li a:hover {
    color: var(--primary);
  }

  nav .container > .nav__cv {
    display: block;
  }

  nav .container > .nav__cv .linkBtn {
    display: flex;
    justify-content: center;

    width: 7.2rem;
    padding: 0.6rem 2rem;
  }

  /* ========== HEADER ========== */
  header {
    height: 90rem;
  }

  .banner {
    padding-top: 30rem;
  }

  .social {
    display: block;
    z-index: 1;
  }

  .social .container {
    width: min(192rem, 100%);
    padding-inline: 2.4rem;
  }

  .social ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .social ul li:last-of-type::after {
    content: "";
    display: block;
    width: 0.1rem;
    height: 10rem;
    margin-top: 2rem;
    margin-inline: auto;
    background-color: var(--extra);
  }

  .social a {
    padding: 0.8rem;
  }

  .media {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .media svg {
    transition: 0.2s ease-in;
  }

  .media a:hover svg {
    color: var(--primary);
    transform: translate3d(0, -0.4rem, 0);
  }

  .language {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  .language a {
    font-size: 1.8rem;
    text-transform: lowercase;
    transition: 0.2s ease-in;
  }

  .language a.active,
  .language a:hover {
    color: var(--primary);
  }

  /* ========== PROJECT ========== */
  .project__box {
    gap: 3rem;
  }
}

@media (min-width: 840px) {
  /* ========== ABOUT ========== */
  .about__box {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-inline: initial;
  }

  .about__img {
    height: 65rem;
  }
}

@media (min-width: 940px) {
  /* ========== PROJECT ========== */
  .project__box {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
  }

  .project__single:hover {
    -webkit-box-shadow: -0.3rem 0.3rem 0 0.1rem #e06800cc;
    box-shadow: -0.2rem 0.2rem 0 0.1rem #e06800cc;
    transform: translate3d(0.3rem, -0.3rem, 0);
  }

  .project__single:last-of-type {
    display: none;
  }
}
